{{> head}}

<style>
    body {
        padding: 30px;
    }

    h1 {
        font-weight: 300;
    }

    table {
        margin-bottom: 50px;
        width: 100%;
    }

    td {
        width: 50%;
    }
</style>

<h1 class>Index</h1>
<table>
    <tr>
        <td>Coding Example</td>
        <td><a href="coding-example.html" target="_blank">coding-example.html</a></td>
    </tr>
</table>

{{> foot}}