<div class="grid" data-total-columns-mobile="2" data-total-columns-tablet="3" data-total-columns-desktop="4">
    {{!-- note: this = templateData --}}
    {{#each this}}
        {{> grid-item}}
    {{/each}}
</div>