// Fonts

// Light
font-face("Lato", "../fonts/Lato-Light", 300, normal, formats: woff2 woff)

// Regular
font-face("Lato", "../fonts/Lato-Regular", 400, normal, formats: woff2 woff)

// Italic
font-face("Lato", "../fonts/Lato-Italic", 400, italic, formats: woff2 woff)

// Bold
font-face("Lato", "../fonts/Lato-Bold", 700, normal, formats: woff2 woff)

// Bold Italic
font-face("Lato", "../fonts/Lato-BoldItalic", 700, italic, formats: woff2 woff)

// Black
font-face("Lato", "../fonts/Lato-Black", 900, normal, formats: woff2 woff)
