// Fonts

// Merriweather
font-face("Merriweather", "../fonts/Merriweather/Merriweather-Black", 900, normal, formats: woff2 woff)
font-face("Merriweather", "../fonts/Merriweather/Merriweather-Bold", 700, normal, formats: woff2 woff)
font-face("Merriweather", "../fonts/Merriweather/Merriweather-Regular", 400, normal, formats: woff2 woff)
font-face("Merriweather", "../fonts/Merriweather/Merriweather-Light", 300, normal, formats: woff2 woff)

// Montserrat
font-face("Montserrat", "../fonts/Montserrat/Montserrat-Bold", 700, normal, formats: woff2 woff)
font-face("Montserrat", "../fonts/Montserrat/Montserrat-Regular", 400, normal, formats: woff2 woff)

// Quicksand
font-face("Quicksand", "../fonts/Quicksand/Quicksand-Regular", 400, normal, formats: woff2 woff)
font-face("Quicksand", "../fonts/Quicksand/Quicksand-Light", 300, normal, formats: woff2 woff)

// Source Sans Pro
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Black", 900, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Bold", 700, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Semibold", 600, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Regular", 400, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Light", 300, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-ExtraLight", 200, normal, formats: woff2 woff)


// Plain Sans
font-face("PlainSans", "../fonts/PlainSans/PlainSans-Regular", 400, normal, formats: woff2 woff)
font-face("PlainSans", "../fonts/PlainSans/PlainSans-Light", 300, normal, formats: woff2 woff)
