// Fonts

// Lato
font-face("Lato", "../fonts/Lato/Lato-Black", 900, normal, formats: woff2 woff)
font-face("Lato", "../fonts/Lato/Lato-Bold", 700, normal, formats: woff2 woff)
font-face("Lato", "../fonts/Lato/Lato-Regular", 400, normal, formats: woff2 woff)
font-face("Lato", "../fonts/Lato/Lato-Light", 300, normal, formats: woff2 woff)

// Quicksand
font-face("Quicksand", "../fonts/Quicksand/Quicksand-Regular", 400, normal, formats: woff2 woff)
font-face("Quicksand", "../fonts/Quicksand/Quicksand-Light", 300, normal, formats: woff2 woff)

// Roboto
font-face("Roboto", "../fonts/Roboto/Roboto-Regular", 400, normal, formats: woff2 woff)
font-face("Roboto", "../fonts/Roboto/Roboto-Light", 300, normal, formats: woff2 woff)
font-face("Roboto", "../fonts/Roboto/Roboto-Thin", 100, normal, formats: woff2 woff)

// Source Sans Pro
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Black", 900, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Bold", 700, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Semibold", 600, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Regular", 400, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-Light", 300, normal, formats: woff2 woff)
font-face("SourceSansPro", "../fonts/SourceSansPro/SourceSansPro-ExtraLight", 200, normal, formats: woff2 woff)