// General Styles
body
    color: #000
    -webkit-font-smoothing: antialiased
    // font-family: $lato
    font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;

a
    color: #f96c51
    
    &:hover
        color: #e95c41
        text-decoration: none

h1, h2, h3, h4, h5, h6
    font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: $bold
    line-height: 100%
    margin-top: 0

p
    line-height: 130%
    margin-top: 0

ul
    list-style: none
    margin-top: 0
    margin-bottom: 0
    padding-left: 0

input[type="radio"],
input[type="checkbox"]
    margin-top: 0
    
input[type=text]
    -webkit-font-smoothing: antialiased

input[type=text]::-ms-clear
    display: none

input[type="search"]
    box-sizing(border-box)