// General Styles
body
    -webkit-font-smoothing: antialiased
    // font-family: $lato

a
    text-decoration: none

// h1, h2, h3, h4, h5, h6
//     line-height: 100%

h1, h2, h3, h4, h5, h6, p
    margin-top: 0

// p
//     line-height: 130%

ul
    list-style: none
    margin-top: 0
    margin-bottom: 0
    padding-left: 0

input[type=text]
    -webkit-font-smoothing: antialiased

input[type=text]::-ms-clear
    display: none

input[type="search"]
    box-sizing(border-box)






