//------------------------------------
//    VARS.SCSS
//------------------------------------


rupture.mobile-cutoff = 600px

//------------------------------------
//    FONTS
//------------------------------------
$thin =       100
$extralight = 200
$light =      300
$regular =    400
$bold =       700
$black =      900

//------------------------------------
//    COLORS
//------------------------------------
$gray1 = #333333 // dark
$gray2 = #666666 // medium
$gray3 = #999999 // light
$gray4 = #cccccc // very light

$gold = rgb(229,203,82)
$teal = rgb(66,189,205)
$lime = rgb(177,202,100)