//------------------------------------
//    VARS.SCSS
//------------------------------------


rupture.mobile-cutoff = 600px

//------------------------------------
//    FONTS
//------------------------------------
$lato =       "Lato Italic", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif
$light =      300
$regular =    400
$bold =       700
$black =      900

//------------------------------------
//    COLORS
//------------------------------------
$gray1 = #333333 // dark
$gray2 = #666666 // medium
$gray3 = #999999 // light
$gray4 = #cccccc // very light