@import "../../../node_modules/flickity/dist/flickity.min.css"

.city-selector
    background: #e5e5e5
    margin-bottom: 30px

.city-selector__option
    overflow: hidden
    padding-top: 35%
    position: relative
    text-align: center
    width: 100%

.city-selector__option__content
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.city-selector__option__heading
    color: #fff
    font-family: 'Montserrat'
    font-size: 8rem
    font-weight: $bold
    margin-top: -2.5rem
    margin-bottom: 0
    position: relative
    text-shadow: 0 0 10px rgba(76, 76, 76, 0.5)
    top: 50%
    width: 100%
    z-index: 2
    
    .-berlin &
        color: $gold

    .-munich &
        color: $teal

    .-vienna &
        color: $lime
        
.city-selector__option__caption
    bottom: 5%;
    color: #fff
    font-family: 'Montserrat'
    font-size: 1.8rem;
    left: 50%
    margin-top: 0
    margin-bottom: 0
    position: absolute
    text-shadow: 0 0 10px rgba(76, 76, 76, 0.5)
    transform: translateX(-50%)
    z-index: 2

.city-selector__option__background
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 100%
    z-index: 1

+mobile()
    .city-selector__option__heading
        font-size: 4rem
    
    .city-selector__option__caption
        font-size: 1.6rem;
        