.filter-bar
    // max-height: 0
    overflow: hidden
    transition: all 0.5s
    
    // &.-active
    //     max-height: 800px
    
    &.-all-active
        .filter-bar__group.-subcategory.-sites,
        .filter-bar__group.-subcategory.-food,
        .filter-bar__group.-subcategory.-drinks
            display: block
            opacity: 0.3

    &.-sites-active
        .filter-bar__group.-subcategory.-sites
            display: block

    &.-food-active
        .filter-bar__group.-subcategory.-food
            display: block

    &.-drinks-active
        .filter-bar__group.-subcategory.-drinks
            display: block

.filter-bar__content
    cf()
    margin: 0 auto
    padding: 30px 0
    width: 100%

    & > div
        float: left
        padding-left: 40px
        width: 20%

.filter-bar__group
    cf()
    margin: 0 auto

    &.-subcategory
        display: none
        
    &:last-child
        .filter-bar__label:last-child
            margin-bottom: 0

.fitler-bar__group-title
    font-family: 'Montserrat'
    font-size: 14px
    font-weight: $bold
    letter-spacing: 1px
    line-height: 1
    margin: 0
    margin-bottom: 25px
    text-transform: uppercase

.filter-bar__label,
.filter-bar__input
    margin: 0

.filter-bar__label
    cursor: pointer
    display: block
    font-family: 'Montserrat'
    font-size: 14px
    font-weight: $bold
    letter-spacing: 1px
    line-height: 1
    margin: 0
    margin-bottom: 25px
    position: relative

.filter-bar__input
    display: none

.filter-bar__input:checked + span
    display: block
    position: relative

    &:before
        background: url("../img/checkmark-alt.svg") no-repeat center center
        background-size: contain
        content: ""
        // border-radius: 100%
        display: block
        // height: 10px
        height: 25px
        left: -35px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        // width: 10px
        width: 25px
        
