// .places-list

.place
    overflow: hidden
    padding: 25px
    
.place__general-info,
.places__distance-info
    float: left

.place__general-info
    padding-right: 20px;
    width: 70%
    
.place__name
    display: inline-block
    font-size: 1.8rem
    padding-right: 35px
    position: relative
        
    .icon-wrapper
        bottom: 0
        position: absolute
        right: 0
        
    .icon
        width: 22px

.icon-wrapper--inline
    display: inline-block
    
.place__address
    font-size: 1.4rem
    
.place__directions-link
    font-size: 1.4rem
    text-transform: uppercase

.place__yelp-rating
    font-size: 1.4rem
    
.icon--price-range
    height: 25px

.places__distance-info
    width: 30%
    
    .icon
        margin-left: 10px
        width: 40px
    
.place__distance-info__text
    font-weight: bold
    text-align: right

.icon
    display: inline-block
    margin-right: 5px
    width: 25px
    
    &:last-child
        margin-right: 0

.filter-bar-toggle
    background: transparent
    border: none
    display: block
    font-family: 'Montserrat'
    font-size: 1.8rem
    font-weight: $bold
    padding: 0
    
.filter-bar-toggle__text
    display: inline-block
    margin-right: 15px
