.place
    overflow: hidden
    padding: 25px
    
.place__general-info,
.places__distance-info
    float: left

.place__general-info
    padding-right: 20px;
    width: 70%
    
.place__name
    display: inline-block
    font-size: 18px
    padding-right: 35px
    position: relative
    // text-transform: uppercase
        
    .icon-wrapper
        bottom: 0
        position: absolute
        right: 0
        
    .icon
        width: 22px

.icon-wrapper--inline
    display: inline-block
    
.place__address
    font-size: 14px
    
.place__directions-link
    font-size: 14px

.place__yelp-rating
    font-size: 14px
    
.icon--price-range
    height: 25px
    
// .place__icon-wrapper icon-wrapper
// .place__icon-wrapper icon-wrapper

.places__distance-info
    width: 30%
    
    .icon
        width: 40px
    
.place__distance-info__text
    font-weight: bold
    text-align: right

.icon
    display: inline-block
    margin-right: 5px
    width: 25px
    
    &:last-child
        margin-right: 0
    
    &.interest-level
        fill: #EFE414

    &.price-range
        fill: #5CB85C
